.slider {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
  }
  
  .slider-image {
    width: 100%;
    display: block;
  }
  
  .slider-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .slider-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }