body {
    background-color: rgb(8, 2, 53);
    color: white;
  }
  .cart-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 40px; 
    padding: 30px;
   
  
  }
  
  .cart {
    width: 340px; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); 
    transition: box-shadow 0.3s ease;
    margin: 20px auto; 
    text-align: center;
    border-top-right-radius: 20px;
    background-color: #fc00ff;
  }
  
  .cart:hover {
    transform: translateY(-8px); 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); 
  }
  
  .cart-img {
    width: 340px; 
    height: 200px;
    display: block;
    margin: 0 auto 10px; 
    border-top-right-radius: 20px;
  
  }
  
  hr {
    border: 0.1px solid rgba(12, 4, 73, 0.2);
  }
  
  .teamname {
    margin: 5px 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
}
  .cart-icon{
      width: 28px;
  }
  
  
  .cart-text1, .cart-text2 {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .cart-mode {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    padding: 5px;
  }
  .cart-detail{
    
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #fc00ff 0%, #00dbde  51%, #fc00ff  100%);
      text-align: center;
      transition: 0.5s;
      background-size: 200% auto;
      font-size:18px;
  }
  
  .cart-detail a {
    color: white; 
    text-decoration: none;
  }
  
  .cart-detail a:hover {
    text-decoration: none; 
  }