.teamhome{   
  background-color: #531374;
  width: 100%;
}
.teamcard{
    width: 200px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 0px 20px;
    margin: 10px;
    box-shadow:0 0 10px black ;
  }
  .teamcard:hover{
    background-color: #9f22D6;
    position: relative;
    bottom: 5px;
    box-shadow:0 0 10px #fff ;

}
  
  .team-name{
    text-align: center;
    font-size: 30px;
    margin: 0;
  
  }
  .team-image{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  
  
  
  
  
  
  /* teams page css */
  .teams-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .team-heading{
    text-align: center;
  }