.navbar2{
    background-color:rgb(194, 187, 178);
    color: antiquewhite;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 20px;
    color: black;
    width: 100%;
}
.title{
    font-size: 22px;
}
.navbar2-link{
    color: white;
    margin: 20px 20px;
    text-decoration: none;
    margin-left: 50px;
    color: black;

}