body{
    margin: 0px 0px ;
}

.main-background{
    background-image: url("main-image.jpg");
    width: 100%;
    height: 1000px;
    
}

.home-heading{
    position: fixed;
    
    color: aliceblue;
    top: 5px;
    left: 5px;
}

.home-paragraph{
    color: yellow;
    font-family:italic;
    
   
}