body{
    margin: 0px 0px ;
    background-color: purple;
}
.home-image{
    max-width: 100%;
}
.home-heading{
    position: fixed;
    z-index: 1;
    color: aliceblue;
    top: 5px;
    left: 5px;
}

.home-paragraph{
    
}