/* Default styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-container {
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0.9px 0.9px 10px white;
  width: 90%; /* Changed from fixed width to a percentage */
  max-width: 500px; /* Set a max width for large screens */
  height: auto; /* Let the height be determined by the content */
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-signup {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #ffe77d;
  margin-top: 30px; /* Reduced margin-top for smaller screens */
}

.input-field, .name-input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%; /* Full width for small screens */
  max-width: 400px;
}

.button {
  padding: 10px;
  background-color: blueviolet;
  border-radius: 5px;
  cursor: pointer;
  color: #ffe77d;
  font-size: 18px;
  width: 60%; /* Increased width slightly for better touch experience */
  margin: 0 auto;
}

.link {
  color: #007bff;
  text-decoration: none;
  text-align: center;
  display: block;
}

.btn-password {
  margin-top: 10px;
}

.signup-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.login-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.text {
  margin-right: 5px;
  color: #ffe77d;
}

.name-fields {
  display: flex;
  flex-direction: column; /* Stack fields vertically on small screens */
  width: 100%; /* Full width for small screens */
  max-width: 400px;
  margin-bottom: 20px;
}

/* Media queries for larger screens */
@media (min-width: 768px) {
  .name-fields {
    flex-direction: row; /* Side-by-side for larger screens */
    justify-content: space-between;
  }

  .input-field, .name-input {
    width: 48%; /* Slightly smaller width for side-by-side layout */
  }

  .button {
    width: 50%;
  }

  .title-signup {
    font-size: 28px;
    margin-top: 50px;
  }
}

@media (min-width: 1024px) {
  .form-container {
    padding: 40px; /* More padding for larger screens */
  }

  .button {
    width: 40%; 
  }}