.container {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
    width: 100vw;            
    background-image: url('https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg');
    background-size: cover;   
    background-position: center; 
    background-repeat: no-repeat; 
  }
  
  .form-container {
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: .9px .9px 10px white;
    width: 500px;
    height: 450px;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;  
  }
  
  .form1 {
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
  
  .title-signup {
    margin-bottom: 20px;
    text-align: center;  
    font-size: 24px;    
    font-weight: bold;
    color: white;      
  }
  
  .input-field, .name-input {
    padding: 10px;
    margin-bottom: 20px; 
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%;          
    max-width: 400px;    
  }
  
  .button {
    padding: 10px;
    background-color: blueviolet;
    border: 1px solid wheat;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    width: 50%;         
    margin: 0 auto;      
  }
  
  .link {
    color: #007bff;
    text-decoration: none;
    margin-bottom: 10px;
    text-align: center;  
    display: block;      
  }
  
  .btn-password {
    margin-top: 10px;
  }
  
  .signup-link {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 10px; 
  }
  
  .login-link-container {
    display: flex;
    align-items: center;  
    justify-content: center; 
    margin-top: 10px;
  }
  
  .text {
    margin-right: 5px; 
  }
  
  .name-fields {
    display: flex;
    justify-content: space-between; 
    width: 80%;          
    max-width: 400px;    
    margin-bottom: 20px; 
  }
  