
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.esport-card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
    margin-top: 0px !important;

}

.esport-card{
    background-color: red;
    border: 1px solid black;
    width: 260px;
    position: relative;
    overflow: hidden;
    height: 320px;
     border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0px;
    
    
}
.esport-card:hover .esport-card-description{
 height: 100%;
}
.esport-card-img{
    width: 100%;
    height: 400px;
    display: block;
    object-fit:fill;
    border-radius:10px;
}
.esport-card-name{
font-size: 20px;
color: rgb(243, 243, 98);
text-align: center;
margin: 10px;
}
.esport-card-description
     {
    width: 100%;
    height:0px;
    color: aliceblue;
    border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	font-size: 16px;
    font-style: italic;
	transition:  0.5s ease-in-out;
    background: linear-gradient(transparent, #ca4f4f 80%);
    
        
}



.esport-card-button{
 border: 1px solid tomato;   
 padding: 5px;
 border-radius: 10px;
 position: absolute;
 top:280px;
 left: 80px;
 width: 90px;

}
