.tournament-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.tournament-title {
    font-size: 35px;
    color: antiquewhite;
    margin-left: 20px;
}

.tournament-info1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tournament-end {
    font-size: 20px;
}

.share {
    font-size: 18px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.share i {
    margin-left: 10px;
    font-size: 18px;
}

.tournament-img {
    width: 100%;
}

.tournament-host {
    font-size: 18px;
    margin-left: 20px;
}

i {
    margin-left: 40px;
    font-size: 20px;
}

.country {
    margin-left: 20px;
    font-size: 20px;
}

.countries-section {
    
    margin-top: 10px;
}

.flag {
    width: 60px;
    margin-left: 20px;
}


.tournament-container1{
    display: flex; /* Enables flexbox layout */
    justify-content: space-between; /* Space out the items horizontally */
    gap: 20px; /* Adds some space between the items */
  }
  .tournament-detail1 {
    padding: 20px;
    border: 1px solid black;
    width: 45%; /* Set a percentage width to make them fit side by side */
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 2px 2px 2px 2px blue;
    
  }



  .sub-title{
    font-size: 25px;
    margin-left: 20px;
  }
  .white-line {
    border: none;
    height: 2px;           /* Line thickness */
    background-color: gray; /* White color */
    margin: 20px 20px;     /* Add some space above and below */
  }
  .tournament-rule{
    padding: 20px;
    border: 1px solid black;
    width: 90%; /* Set a percentage width to make them fit side by side */
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 2px 2px 2px 2px blue;
    margin: 20px;
  }
  .tournament-info {
    padding: 20px;
    border: 1px solid black;
    width: 90%; /* Set a percentage width to make them fit side by side */
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 2px 2px 2px 2px blue;
    margin: 20px;
    
  }
  
 
 
  
  

  
  
  