.acard{
    /* border: 1px solid red; */
    margin: 50px auto;
    width: 800px;
    border-radius: 10px;
    padding: 20px;
    left: 8%;
    top: 5%;
    z-index: 2;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.281);
    
}
.cardtitle{
    text-align: start;
    width: 320px;
    padding: 5px;
    border-radius: 10px;
    color: #ffe77d;
    background-color: #9F22D6;
}
.dic{
    text-align: justify;
}
.acard:hover{
    border: 1px solid white;
    transition: 3s;
}
.dic ul{
  
    padding: 10px;
}
.dic li{
    padding: 10px;
    font-size: 17px;
}
.dic p{
    font-size: 20px;
    margin-top: 15px;
}