.card-img-container{
    width:300px;
    border:1px solid #ccc;
    border-radius: 10px;
    padding:10px 20px;
    box-shadow: 0 0 10px rgba(0,00,0.1);
    display: block;
    margin:20px 40px;
    background-color: #fff;
    height:520px;
  
  }
  
  