.card {
    display: flex;
}

.card-img-container {
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 00, 0.1);
    display: block;
    margin: 20px 40px;
    background-color: #fff;
    height: 520px;

}

.card-img {
    width: 300px;
    height: 500px;
    display: block;
    margin-top: 8px;
}

.card-description-container {
    text-align: justify;
    padding: 5px 10px;
    margin: 200px 10px;
}

.card-title {
    font-size: 25px;
    font-weight: bold;
}

.card-description {
    font-size: 15px;
}