.aboutcontainer{
    width: 100%;
    height: 750px;
    font-family: cursive;

   
    
   
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    width: 70%;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #9F22D6;
    color: #ffe77d;
    font-family: cursive;
}

.aboutcontainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./about-bg.jpg');
    background-size: contain;
    background-position: center;
    filter: blur(8px);
    z-index: 1;
    
  }
  
  .aboutcontent {
    
    width: 80%;
    position: absolute;
    left: 10%;
    top: 10%;
    z-index: 2;
    color: white;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    font-family: cursive;

  }
  
  .abpara {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    font-family: cursive;
  }
  .Abcardcontainer{
    margin: 110px auto;
    width: 100%;
    width: 70%;
    font-family: cursive;
    
  }
  .game-cards {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
}

.game-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 220px; 
    text-align: center;
}

.game-card img {
    width: 100%;
    height: 47%;
}

.game-card h3 {
    margin: 10px 0;
    font-size: 20px;
}

.game-card>p {
  padding: 0 10px 10px;
  font-size: 12px;
  line-height: 1.4;
 
 
}

.game-card:hover{
  transform: scale(1.05);
  transition: 1s;
  box-shadow: #9F22D6 0px 2px 4px 0px, #9F22D6 0px 2px 16px 0px;
}
