.aboutcontainer{
    width: 100%;
    height: 750px;
    font-family: cursive;
    position: relative;

   
    
   
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    width: 70%;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #9F22D6;
    color: #ffe77d;
    font-family: cursive;
}

.aboutcontainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../img/about-bg.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: 1;
    
  }
  
  .aboutcontent {
    
    width: 80%;
    position: absolute;
    left: 10%;
    top: 10%;
    z-index: 2;
    color: white;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    font-family: cursive;

  }
  
  .abpara {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    font-family: cursive;
  }
  .Abcardcontainer{
    margin: 110px auto;
    width: 100%;
    width: 70%;
    font-family: cursive;
    
  }
 
 
@media (max-width: 1024px) {
  .aboutcontainer {
      height: 600px;
  }
  .aboutcontent {
      width: 90%;
      left: 5%;
      top: 15%;
  }
  .abpara {
      font-size: 20px;
  }
  .Abcardcontainer {
      width: 90%;
  }
  .acard>h1{
    font-size: 25px;
  }
  .cardtitle{
    display: flex;
    justify-content: center;
    
 }
}


@media (max-width: 768px) {
  .aboutcontainer {
      height: 600px;
  }
  .aboutcontent {
      top: 20%;
      padding: 15px;
  }
  .abpara {
      font-size: 18px;
  }
  .head {
      width: 90%;
      font-size: 18px;
  }
  .acard>p{
    
    margin: 10px;
    padding: 10px;
  }
  .cardtitle{
     display: flex;
     justify-content: center;
  }
  .acard>h1{
    font-size: 25px;
  }
}

@media (max-width: 480px) {
  .aboutcontainer {
      height: 700px;
      
  }
  .aboutcontent {
      top: 25%;
      font-size: 14px;
  }
  .abpara {
      font-size: 16px;
  }
  .head {
      width: 95%;
      font-size: 16px;
  }
  .Abcardcontainer {
      width: 100%;
  }
  .acard>p{
    
    margin: 10px;
    padding: 10px;
  }
  .cardtitle{
     display: flex;
     justify-content: center;
     
  }
  .acard>h1{
    font-size: 25px;
  }
}