.navbar2 {
    background-color: rgba(156, 27, 211, 0.4);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 40px;
    width: 100%;
    padding: 18px;
}

.title {
    font-size: 22px;
    color: aliceblue;
}

.navbar2-link {
    margin: 20px 20px;
    text-decoration: none;
    margin-left: 50px;
}