.navbar2 {
    background-color: rgba(0, 0, 0, 0.6);;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    width: 100%;
    padding: 18px;
    margin: 0;
}

.title {
    font-size: 22px;
    color: aliceblue;
    margin-left: 22px;
}

.navbar2-link {
    margin: 20px 20px;
    text-decoration: none;
    margin-left: 50px;
}