
.card-heading{
    text-align: center;
    font-size: 30px;
    margin:10px;
    color: #FFE77D;
    margin-top: 60px;
}
.card {
    display: flex;
}

.card-img {
    width: 250px;
    height: 300px;
    display: block;
    border-radius: 20px;
    cursor: pointer;
    margin:80px 30px;
    object-fit: cover;
    margin-left:50px;
}
.card-img:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: 0.3s;
    transform: rotate(-1deg);

}

.card-description-container {
    text-align: justify;
    padding: 5px 10px;
    margin: 90px 10px;
}
.game-img{
    width: 450px;
    height:300px;
    display: block;
    margin:20px auto;
    margin-top: 80px;
    border-radius: 10px;
    box-shadow: 0 0 0 10px rgba(0,0,0,0.10);
    cursor: pointer;
    object-fit: cover;
   
}
.game-img:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: 0.3s;
    transform: rotate(-1deg);
    
}

.app-title{
    font-size:20px;
    text-align: center;
    font-style: italic;

    
}
.card-title {
    font-size: 25px;
    font-weight: bold;
   text-align: center;
   margin-bottom: 10px;
   font-style: italic;
   color: #FFE77D;

}

.card-description {
    font-size: 18px;
    margin-right: 80px;
    margin-left: 80px;
}

@media screen and (max-width:480px) {
    .card {
        display: flex;
        flex-direction: column;
    }
    .card-img {
        width: 200px;
        height: 300px;
        display: block;
        margin:10px auto;
        border-radius: 20px;
        cursor: pointer;
        object-fit: cover;
       
    }
}

@media (max-width: 768px) {
    .card {
        display: flex;
        flex-direction: column;
    }
    .card-img {
        width:350px;
        height: 250px;
        display: block;
        margin:10px auto;
        border-radius: 10px;
        cursor: pointer;
        object-fit: cover;
    }
    
    .card-description-container {
        text-align: justify;
        padding: 5px 10px;
        margin:10px;
    }  
}

@media (max-width: 1024px) {
    .card {
        display: flex;
        flex-direction: column;
    }
    .card-img {
        width:450px;
        height: 300px;
        display: block;
        margin:10px auto;
        border-radius: 20px;
        cursor: pointer;
        object-fit: cover;
    }
    
}