
.card-heading{
    text-align: center;
    font-size: 30px;
    margin:10px;
    color:deeppink;
}
.card {
    display: flex;
}

.card-img-container {
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 00, 0.1);
    display: block;
    margin: 20px 40px;
    background-color: #fff;
    height: 420px;

}

.card-img {
    width: 300px;
    height: 400px;
    display: block;
    border-radius: 10px;
    cursor: pointer;
    
}

.card-description-container {
    text-align: justify;
    padding: 5px 10px;
    margin: 130px 10px;
}

.card-title {
    font-size: 25px;
    font-weight: bold;
   text-align: center;
   margin-bottom: 10px;
   font-style: italic;
   color: #FFE77D;

}

.card-description {
    font-size: 18px;
}