
.card-heading{
    text-align: center;
    font-size: 30px;
    margin:10px;
    color:deeppink;
    margin-top: 60px;
}
.card {
    display: flex;
}

.card-img {
    width: 250px;
    height: 300px;
    display: block;
    border-radius: 10px;
    cursor: pointer;
    margin:40px 30px;
    object-fit: cover;
}
.card-img:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: 0.3s;
    transform: rotate(-1deg);

}

.card-description-container {
    text-align: justify;
    padding: 5px 10px;
    margin: 90px 10px;
}
.game-img{
    width: 400px;
    height:300px;
    display: block;
    margin:20px auto;
    border-radius: 10px;
    box-shadow: 0 0 0 10px rgba(0,0,0,0.10);
    cursor: pointer;
    object-fit: cover;
   
}
.game-img:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: 0.3s;
    transform: rotate(-1deg);
    
}

.app-title{
    font-size:20px;
    text-align: center;
    font-style: italic;

    
}
.card-title {
    font-size: 25px;
    font-weight: bold;
   text-align: center;
   margin-bottom: 10px;
   font-style: italic;
   color: #FFE77D;

}

.card-description {
    font-size: 18px;
}

@media screen and (max-width:500px) {
    .card-img {
    width: 250px;
    height: 300px;
    display: block;
    border-radius: 10px;
    cursor: pointer;
    margin:100px 20px;
    object-fit: cover;
}
.card-heading{
    text-align: center;
    font-size: 30px;
    margin:10px;
    color:deeppink;
    margin-top: 40px;
}
.card-description-container {
    text-align: justify;
    padding: 5px 10px;
    margin:10px;
}
}
@media (max-width: 768px) {
    .card-img {
        width: 270px;
        height: 300px;
        display: block;
        border-radius: 10px;
        cursor: pointer;
        margin:20px 20px;
        object-fit: cover;
    }
    .card-heading{
        text-align: center;
        font-size: 30px;
        margin:10px;
        color:deeppink;
        margin-top: 40px;
    }
    .card-description-container {
        text-align: justify;
        padding: 5px 10px;
        margin:10px;
    }  
}