.footer{
    background-color: #531374;
    color: white;
    text-align: center;
    padding: 6px;
    margin-top: 10px;
    bottom: 0px;
    width:100% ;
    height: 320px;
}
.footer-main-container{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}
.footer-main{
    width: 650px;
    margin-right: 350px;
    border: 1px solid tomato;
}
.footer-main-1{
   border: 1px solid tomato;
   height: 250px;
   width: 400px;
   justify-items: center;
}
.footer-head-para{
   font-size: 30px;
   margin-bottom: 10px;
   
}
.footer-para{
    font-size: 20px;
    font-style: italic;
}

.footer-links{
  margin-bottom: 20px;
  display: block;
  color: white;
  font-size: 20px;

}
.footer-head{
    font-size: 25px;
    margin-bottom: 20px;

}
.footer-sub-container{
   height: 30px;
    margin: 10px;
}


