body{
    margin: 0px 0px ;
}


  

.main-background{
    
    width: 100%;
    height: 750px;
    position: relative;
    
}

.home-heading{
    position: absolute;
    color: aliceblue;
    top: 5px;
    left: 5px;
}

.home-paragraph{
    color: #fff;
    font-family:italic;
    font-style: italic;
    font-weight: 500;
    font-size: 35px;
    }
.home-paragraph2{
    color: #fff;
    font-family:italic;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
}
.homepage-btn{
    border: 1px solid #FFE77D;
    background-color: #FFE77D;
    padding: 10px;
    border-radius: 20px;
    width: 100px;
    margin: 10px;
}

.paragraph-container{
 position: absolute;
 top: 300px;
 left: 40px;
}

.tournament-main-title{
    padding: 5px;
    text-align: center;
    margin-top: 230px;
    color: #FFE77D;
    
}
.tournament-main-title2{
    padding: 60px;
    text-align: center;
    color: #FFE77D;

}
.tournament-maincard-container{
    height: 2100px;
    margin-bottom: 0px !important;
    background-color: rgb(8, 2, 53);
}
.App{
 width: 1400px;
 height: 400px;
 margin: 0px auto;
 align-items: center;
}
.space{
    height: 20px;
}

@media screen and (max-width:500px) {
    .main-background{
    
        width: 200px;
        height: 200px;
        position: relative;
        
    }
}