body{
    background-color: darkblue;
}
.main{
    margin: 50px auto;
    width: 35%;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.065);
    color: black;
    font-size: 22px;
}
.mainform .inputgroup{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.mainform .inputgroup label{
    margin: 10px;
}
.mainform .inputgroup input{
    margin-top: 5px;
    padding: 10px;
}
.inputgroup button{
    margin-top: 10px;
}
.login{
    margin-top: 30px;
    text-align: center;
}
.login .btn.btn-primary{
    width: 50%;
    background-color: blueviolet;
    
}
h2{
    text-align: center;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);


}
.inputgroup .btn.btn-success{
    background-color: blueviolet;

}
